<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Galegando21"
        tools:targetApi="31">
        <activity
            android:name=".day22Brisca.BriscaGameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".StatisticsWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/statistics_widget_info" />
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.galegando21.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".day18PalabrasEncadeadas.PalabrasEncadeadasResultsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day18PalabrasEncadeadas.PalabrasEncadeadasInicioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day18PalabrasEncadeadas.PalabrasEncadeadasGameActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".StatisticsRoadmapActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AxustesActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SuggestedGamesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day10ExplosionDePalabras.ExplosionPalabrasInicioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day10ExplosionDePalabras.ExplosionPalabrasResultsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day10ExplosionDePalabras.ExplosionPalabrasGameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day03XogoPalabras.XogoPalabrasInicioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day03XogoPalabras.XogoPalabrasResultsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day03XogoPalabras.XogoPalabrasGameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day12AdivinhaPersonaxe.AdivinhaPersonaxeResultsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day12AdivinhaPersonaxe.AdivinhaPersonaxeInicioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day12AdivinhaPersonaxe.AdivinhaPersonaxeGameActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".day16Anagramas.AnagramasResultsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day16Anagramas.AnagramasInicioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day16Anagramas.AnagramasGameActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".day06SopaLetras.SopaLetrasResultsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day06SopaLetras.SopaLetrasInicioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day06SopaLetras.SopaLetrasGameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day02OndeEstan.OndeEstanResultsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day02OndeEstan.OndeEstanInicioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day02OndeEstan.OndeEstanGameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day20DebuxaEAdivinha.DebuxaEAdivinhaInicioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day20DebuxaEAdivinha.DebuxaEAdivinhaGameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day09RuletaDaSorte.RuletaDaSorteInicioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day09RuletaDaSorte.RuletaDaSorteResultsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day09RuletaDaSorte.RuletaDaSorteGameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day17ProbaVelocidade.ProbaVelocidadeInicioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day17ProbaVelocidade.ProbaVelocidadeResultsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day17ProbaVelocidade.ProbaVelocidadeGameActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".day07AgoraCaigo.AgoraCaigoInicioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day07AgoraCaigo.AgoraCaigoResultsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day07AgoraCaigo.AgoraCaigoQuestionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".day05AdivinhaAnoFoto.AdivinhaAnoFotoInicioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day05AdivinhaAnoFoto.AdivinhaAnoFotoResultsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day05AdivinhaAnoFoto.AdivinhaAnoFotoGameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day14AdivinhaEscudo.AdivinhaEscudoResultsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day14AdivinhaEscudo.AdivinhaEscudoInicioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day14AdivinhaEscudo.AdivinhaEscudoQuestionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day15Wordle.WordleInicioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day15Wordle.WordleGameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".onboarding.OnboardingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".day13VerdadeOuMentira.VerdadeOuMentiraResultsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day13VerdadeOuMentira.VerdadeOuMentiraQuestionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day13VerdadeOuMentira.VerdadeOuMentiraInicioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day08Conexions.ConexionsGameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day08Conexions.ConexionsInicioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day19Aforcado.AforcadoGameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day19Aforcado.AforcadoInicioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day04AtrapaUnMillon.AtrapaUnMillonResultsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day04AtrapaUnMillon.AtrapaUnMillonQuestionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day04AtrapaUnMillon.AtrapaUnMillonInicioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day01Pasagalego.PasagalegoInicioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day11AtrapameSePodes.AtrapameSePodesResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day11AtrapameSePodes.AtrapameSePodesQuestionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".day11AtrapameSePodes.AtrapameSePodesInicioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day21RecursosGalego.RecursosGalegoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day01Pasagalego.PasagalegoResultActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".day01Pasagalego.PasagalegoQuestionActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>