<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Galegando21"
        tools:targetApi="31">
        <activity
            android:name=".StatisticsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".day11AgoraCaigo.AgoraCaigoInicioActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".day11AgoraCaigo.AgoraCaigoResultsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".day11AgoraCaigo.AgoraCaigoQuestionActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".day10AdivinhaAnoFoto.AdivinhaAnoFotoInicioActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".day10AdivinhaAnoFoto.AdivinhaAnoFotoResultsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".day10AdivinhaAnoFoto.AdivinhaAnoFotoGameActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".day09AdivinhaEscudo.AdivinhaEscudoResultsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".day09AdivinhaEscudo.AdivinhaEscudoInicioActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".day09AdivinhaEscudo.AdivinhaEscudoQuestionActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".day08Wordle.WordleInicioActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".day08Wordle.WordleGameActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".onboarding.OnboardingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name=".day07verdadeOuMentira.VerdadeOuMentiraResultsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".day07verdadeOuMentira.VerdadeOuMentiraQuestionActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".day07verdadeOuMentira.VerdadeOuMentiraInicioActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".day06Conexions.ConexionsGameActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".day06Conexions.ConexionsInicioActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".day05Aforcado.AforcadoGameActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".day05Aforcado.AforcadoInicioActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".day04AtrapaUnMillon.AtrapaUnMillonResultsActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".day04AtrapaUnMillon.AtrapaUnMillonQuestionActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".day04AtrapaUnMillon.AtrapaUnMillonInicioActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".day01Pasagalego.PasagalegoInicioActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".day03AtrapameSePodes.AtrapameSePodesResultActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".day03AtrapameSePodes.AtrapameSePodesQuestionActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".day03AtrapameSePodes.AtrapameSePodesInicioActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".day02Musica.MusicaActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".day01Pasagalego.PasagalegoResultActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".day01Pasagalego.PasagalegoQuestionActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Galegando21">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>